body {
overflow-x: hidden;
}

.anim-photo {
	width: 100%;
}
.info p{
	font-size: 1.5em;
	margin: 5px;
}
.animal{
	background: #ffc60a;
	border-radius : 5px;
}
.interface{
	margin: 5px;
	border-radius: 5px; 
	background: #ccc;
}