body {
overflow-x: hidden;
	background: #f57336;


}

.anim-photo {
	height:150px;
	object-fit: contain;
}

form{
	border-radius : 5px;
	padding: 5px;
	color: black;
	background: #eeeeef;
	margin: 2px;
}
.animal{
	border-radius : 5px;
	padding: 5px;
	color: black;
	background: #eeeeef;
	margin: 2px;
}
.interface{
	margin: 5px;
	border-radius: 5px; 
	color: white;
	background: #eeeeef;
	color: black;
}
.navbar{
	background: #2c679f;

}
.mg{
	margin: 5px;
}